{% extends 'base.html' %} 

{% load static %}

{%block title%} | About Us{%endblock%}

{% block content%}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About PT Real Estate</h1>
          <p class="lead">A Powerful Application To Search For Your New Home</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">We are a real estate team that has been ranked as a number one team in the US</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">PT Real Estate is a luxury real estate team that works in the US, and has a love for the beautiful scenery. With many years and a solid reputation, clients can expect top notch customer service throughout our experience. We place a strong value on our clients entire experience which keeps them highly ranked.</p>
        </div>


            
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/nophotoavailable.jpg'%}" alt="Seller of the month">
              <div class="card-body">
                <h5 class="card-title">About Developer</h5>
                <h6 class="text-secondary">Phuc Tran</h6>
                <p class="card-text">A junior software engineer with a can-do attitude and management skills. Has a strong foundation in programming across multiple platforms. Experienced in database, object-oriented programming, web developing, testing and debugging codes. A challenge lover, willing to put down some hard work. Quickly learn and master new technologies. Successful working in both team and individual.
                </p>
              </div>
            </div>
          </div>
            
            

        
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Realtor API Provide Direct Access Of New Home Listed For Sale And For Rent With Real-Time Updates</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <!-- <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">

        {%if realtors%}
          {%for realtor in realtors%}
          <div class="col-md-4">
            <img src="{{realtor.photo.url}}" alt="" class="rounded-circle mb-3">
            <h4>{{realtor.name}}</h4>
            <p class="text-success">
              <i class="fas fa-award text-success mb-3"></i> Realtor</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{realtor.phone}}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
          </div>

          {%endfor%}

        {%else%}
          <div class="col-md-4">
            <p>There is No Realtor</p>
          </div>
       

        {%endif%}
        

    </div>
  </section> -->
{% endblock%}